extends layout

block script
  link(rel='stylesheet', href='/stylesheets/payments.css')
  link(rel='stylesheet', href='/stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src="/js/bootstrap.min.js")
  script(src="/js/moment.js")
  script(src="/js/daterangepickerSingle.js")
  link(rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css")
  
block content
  .mainBlock
    .row
      .col-lg-7
        .scrollParent
          .instruments
            img(src='img/png/search.png', alt='Search')
            input.searchInput(type="text")
            select.filterInput
              option.defFilter(selected, disabled) Status
              option(value="all") All            
              option(value="active") Active
              option(value="inactive") Inactive
            select.sortInput
              option.defSort(value="name", selected) Name
              option(value="lastname") Last name
          .scroll
            .payBlock
              
          
      .col-lg-5
        .scrollParent
          .scroll
            .right
              -if (guestID)
                each guest in guests
                  -if (guest._id == guestID)
                    .openGist
                      .overview
                        -if (guest.image)
                          .overviewImg(style="background: url(img/upload/guest/#{guest.image}); background-size: auto 160px; background-position: center; background-repeat: no-repeat")
                        -else 
                          .overviewImg(style="background: url(img/upload/gist.png); background-size: auto 156px; background-position: center")
                        .overviewStatus
                          .overviewStatusName
                            h2= guest.name + ' ' + guest.lastname
                          .overviewStatusBalance
                            h3 Balance
                            -var sum = 0;
                            -each pay in payments
                              -if (pay.status != 'pending')
                                -sum += pay.sum
                            -if (sum < 0)
                              p.red #{sum} $
                            -else
                              p.green #{sum} $
                          .overviewStatusLast
                            h3 Last payment
                            -if (payments.length > 0 )
                              -var date = payments[0].date
                              -var d = date.getDate();
                              -var m = date.getMonth()+ 1;
                              -var y = date.getFullYear();
                              -if (d < 10) d = '0' + d
                              -if (m < 10) m = '0' + m
                              p #{m}.#{d}.#{y}
                            -else 
                              p -
                        .overviewExcel
                          
                      -if (payments)      
                        each payment in payments
                          
                          button.payment(type="button", value= payment._id)
                            .paymentData
                              -var date = payment.date
                              -var d = date.getDate();
                              -var m = date.getMonth() + 1;
                              -var y = date.getFullYear();
                              -if (d<10) d = '0' + d
                              -if (m<10) m = '0' + m
                              p #{m}.#{d}.#{y}
                              -if(payment.sum < 0)
                                h3.green #{-payment.sum} $
                              -else
                                h3.red #{payment.sum} $
                            .clock
                              -if (payment.status === "pending")
                                -if(payment.date <= new Date())
                                  img(src='img/png/red-clock.png', alt='Clock')
                                -else
                                  img(src='img/png/clock.png', alt='Clock')
                            .paymentDiscription
                              -if (payment.status === 'system')
                                p Housing rate
                              -else
                                -if(payment.program && payment.program != "Select Program")
                                  p= payment.program
                                -else
                                  p -
                              -if (payment.status === 'done')
                                h3 paid
                              -else
                                -var time = new Date()
                                -if(payment.status === 'pending' && payment.date <= time)
                                  h3.red past due
                                -else
                                  h3 #{payment.status}
                              
                      .overviewButtons
                        button.gistPaymentsHistory.paymentBtn(value= guest._id) Add Payment
                        button.gistShelterHistory.paymentBtn(value= guest._id) User Information
                        
                    form.add
                      .addPhoto
                        button.uploadPhoto
                          img(src='img/png/cloud.png', alt='Cloud')
                          p Upload photo
                        input(type='file', encType="multipart/form-data", accept='image/jpg, image/jpeg, image/png, image/gif')
                      .addText.addDate
                        input.demo(type="text", placeholder="Select date", name="date")
                      
                      .addText.addCash
                        p Enrollment amount:
                        
                        input.addInp(type="number", placeholder="Sum", name="sum", required, min='0')
                        p $
                      .addText
                        select(class="", name="type").addType
                          option(disabled selected) Type of payment
                          option CASH
                          option Department
                      .addButtons
                        button.addSave.payCheck(value= guestID, disabled) Save
                        button.addCancel(value= guestID) Cancel

                    form.edit
                      .addPhoto
                        button.uploadPhoto
                          img(src='img/png/cloud.png', alt='Cloud')
                          p Upload photo
                        input.editImage(type='file', encType="multipart/form-data", accept='image/jpg, image/jpeg, image/png, image/gif')
                      .addText.addDate
                        input.demo.editDate(type="text", placeholder="Select date", name="date")
                      .addText.addCash
                        p Enrollment amount:
                        input.editSum.checkInpEdit(type="numder", placeholder="Sum", name="sum", required, min='0')
                        p $
                      .addText
                        select(class="", name="type").addType.editType
                          option(disabled selected) Type of payment
                          option CASH
                          option Department
                      .addButtons
                        button.done(type="button", disabled) Confirm
                        button.editSave.payCheck(type="button", value= guests[0]._id) Update
                        button.delete(type="button") Delete 
                        button.addCancel(type="button", value= guests[0]._id) Cancel

                      
                
              -else
                -if (guests[0])
                  .openGist
                    .overview
                      -if (guests[0].image)
                        .overviewImg(style="background: url(img/upload/guest/#{guests[0].image}); background-size: auto 160px; background-position: center; background-repeat: no-repeat")
                      -else 
                        .overviewImg(style="background: url(img/upload/gist.png); background-size: auto 156px; background-position: center")
                      .overviewStatus
                        .overviewStatusName
                          h2= guests[0].name + ' ' + guests[0].lastname
                        .overviewStatusBalance
                          h3 Balance
                          -var sum = 0;
                            -each pay in payments
                              -if (pay.status != 'pending')
                                -sum += pay.sum
                            -if (sum < 0)
                              p.red #{sum} $
                            -else
                              p.green #{sum} $
                        .overviewStatusLast
                          h3 Last payment
                          -if (payments.length > 0 )
                            -var date = payments[0].date
                            -var d = date.getDate();
                            -var m = date.getMonth()+ 1;
                            -var y = date.getFullYear();
                            -if (d < 10) d = '0' + d
                            -if (m < 10) m = '0' + m
                            p #{m}.#{d}.#{y}
                          
                          -else 
                            p -
                      .overviewExcel
                        
                    -if (payments)
                      each payment in payments
                        button.payment(type="button", value= payment._id)
                          .paymentData
                            -var date = payment.date
                            -var d = date.getDate();
                            -var m = date.getMonth() + 1;
                            -var y = date.getFullYear();
                            -if (d<10) d = '0' + d
                            -if (m<10) m = '0' + m
                            p #{m}.#{d}.#{y}
                            -if(payment.sum < 0)
                              h3.green #{-payment.sum} $
                            -else
                              h3.red #{payment.sum} $
                          .clock
                              -if (payment.status === "pending")
                                -var time = new Date()
                                -if(payment.date <= time)
                                  img(src='img/png/red-clock.png', alt='Clock')
                                -else
                                  img(src='img/png/clock.png', alt='Clock')
                          .paymentDiscription
                            -if (payment.status === 'system')
                              p Housing rate
                            -else
                              -if(payment.program && payment.program != "Select Program")
                                p= payment.program
                              -else
                                p -
                            -if(payment.status === 'done')
                              h3 paid
                            -else
                              -var time = new Date()
                              -if(payment.status === 'pending' && payment.date <= time)
                                h3.red past due
                              -else
                                h3 #{payment.status}
                    .overviewButtons
                      button.gistPaymentsHistory.paymentBtn(value= guests[0]._id) Add Payment
                      button.gistShelterHistory.paymentBtn(value= guests[0]._id) User Information
                      
                form.add
                  .addPhoto
                    button.uploadPhoto
                      img(src='img/png/cloud.png', alt='Cloud')
                      p Upload photo
                    input.editImage(type='file', encType="multipart/form-data", accept='image/jpg, image/jpeg, image/png, image/gif')
                  .addText.addDate
                    input.demo(type="text", placeholder="Select date", name="date")
                  .addText.addCash
                    p Enrollment amount:
                    input.addInp(type="number", placeholder="Sum", name="sum", required, min='0')
                    p $
                  .addText
                    select(class="", name="type").addType.editType
                      option(disabled selected) Type of payment
                      option CASH
                      option Department
                  .addButtons
                    button.addSave.payCheck(type="submit", value= guests[0]._id, disabled) Save
                    button.addCancel(type="button", value= guests[0]._id) Cancel

                form.edit
                  .addPhoto
                    button.uploadPhoto
                      img(src='img/png/cloud.png', alt='Cloud')
                      p Upload photo
                    input(type='file', encType="multipart/form-data", accept='image/jpg, image/jpeg, image/png, image/gif')
                  .addText.addDate
                    input.demo.editDate(type="text", placeholder="Select date", name="date")
                  .addText.addCash
                    p Enrollment amount:
                    input.editSum.checkInpEdit(type="number", placeholder="Sum", name="sum", required, min='0')
                    p $
                  .addText
                    select(class="", name="type").addType
                      option(disabled selected) Type of payment
                      option CASH
                      option Department
                  .addButtons
                    button.done(type="button", disabled) Confirm
                    button.editSave.payCheck(type="button", value= guests[0]._id) Update
                    button.delete(type="button") Delete                    
                    button.addCancel(type="button", value= guests[0]._id) Cancel
              
block footer
  script(src='js/payments.js')
  script(src="js/onloadHandler3.js")
